# Created by .ignore support plugin (hsz.mobi)
.idea/
gh_boot_tulip.iml
target
.log
.iml

sql.log

app.log
http.log
http.log.1
http.log.1.lck
http.log.10
http.log.10.lck
http.log.11
http.log.11.lck
http.log.12
http.log.12.lck
http.log.13
http.log.13.lck
http.log.14
http.log.14.lck
http.log.15
http.log.15.lck
http.log.16
http.log.16.lck
http.log.2
http.log.2.lck
http.log.3
http.log.3.lck
http.log.4
http.log.4.lck
http.log.5
http.log.5.lck
http.log.6
http.log.6.lck
http.log.7
http.log.7.lck
http.log.8
http.log.8.lck
http.log.9
http.log.9.lck
http.log.lck
